*{
    
    background-color: black;
    align-items: center;
    
    
    
}
body{
    
   
}
.Title{
    font-family: Roboto;
    font-weight: 200;
    font-size: 45px;
    height: 96px;
    width: 1375px;
    line-height: 48px;
    margin-bottom: 70px;
    
    
   
    
}
.picture1{
    width:1415px;
    height: 500px;
    margin: auto;
    background: url('./images/img1.png');
   
    
    

}
.para1{
    font-family: poppins;
    font-weight: 400px;
    line-height: 27px;
    font-size: 18px;
    justify-content: center;
    margin-top: 50px;
   
   


}
.button1{
    width: 416px;
    height: 60px;
    color: black;
    background-color: #fff;
    border-radius: 0;
    margin-top: 10px;
}
.picture2{
    width: 347px;
    height: 347px;
    background: url('./images/img2.png');
}
.picture3{
    width: 347px;
    height: 347px;
    background: url('./images/img3.png');
}
.picture4{
    width: 347px;
    height: 347px;
    background: url('./images/img4.png');
}
.container1{
    position: relative;
    
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.container2{
   margin-top: 30px;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.para2{
    width: 347px;
    height: 66px;
}
.container3{
    margin: auto;
    margin-top: 120px;
}
.title3{
    font-family: Roboto;
    font-weight: 200;
    font-size: 42px;

}
.para3{
    font-family: poppins;
    font-weight: 400;
    font-size: 18px;
}
.container4{
    
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    height: 195px;


}
.title4{
    font-family: Roboto;
    font-weight: 200;
    font-size: 80px;
    margin-left: 50px;
    margin-right: 30px;
   
    
}
.subcontainer4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    margin-top: 30px;
   
   
   
    
}
.subcontainer4b{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
    
}
.para4{
    
    width: 158px;
    height: 47px;
    margin-left: 50px;
    margin-right: 50px;
}
p{
    margin: 0;
}
.container5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
    
}
.title5{
    font-family: Roboto;
    font-weight: 300;
    font-size: 45px;

}
.para5{
    margin-top: 55px;
    font-family: Roboto;
    font-weight: 300;
    font-size: 28px;

}
.button2{
    width: 373px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff;
    border: 1px solid #fff;
}
.button3{
    width: 373px;
    height: 60px;
    color: black;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;margin-left: 30px;

}
.buttonGroup{
    display: flex;
    margin-top: 60px;

}
footer{
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 300px;
}





